<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="h2omni" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="h2omni" params="suffix">

        <!-- Constants for robot dimensions -->
        <xacro:property name="PI" value="3.1415926535897931"/>
        <!-- arbitrary value for mass -->
        <xacro:property name="mass" value="20" />
        <xacro:property name="height" value="0.8" />
        <xacro:property name="width" value="0.8" />
        <!-- Import all Gazebo-customization elements, including Gazebo colors -->
        <xacro:include filename="$(find h2omni_description)/urdf/h2omni.gazebo" />
        <!-- Used for fixing robot to Gazebo 'base_link' -->
        
        <link name="h2omni_${suffix}">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${width} ${width} ${height}"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://h2omni_description/meshes/H3O_Omni_simplified.dae"/>
                </geometry>
            </visual>
            <inertial>
                <mass value="${mass}" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10" />
            </inertial>
        </link>
        <gazebo>
            <plugin name='uuv_gazebo_plugins' filename='libuuv_underwater_object_ros_plugin.so'>
                <namespace>hydrodynamics</namespace>
                <fluid_density>997</fluid_density>
                <flow_velocity_topic>current_velocity</flow_velocity_topic>
                <debug>0</debug>
                <link name='h2omni_${suffix}'>
                    <neutrally_buoyant>0</neutrally_buoyant>
                    <volume>1.83826</volume>
                    <box>
                    <width>1.5</width>
                    <length>2.6</length>
                    <height>1.6</height>
                    </box>
                    <center_of_buoyancy>0.0 0.0 0.3</center_of_buoyancy>
                    <hydrodynamic_model>
                    <type>fossen</type>
                    <added_mass>779.79 -6.8773 -103.32 8.5426 -165.54 -7.8033 -6.8773 1222 51.29 409.44 -5.8488 62.726 -103.32 51.29 3659.9 6.1112 -386.42 10.774 8.5426 409.44 6.1112 534.9 -10.027 21.019 -165.54 -5.8488 -386.42 -10.027 842.69 -1.1162 -7.8033 62.726 10.775 21.019 -1.1162 224.32</added_mass>
                    <linear_damping>-74.82 -69.48 -728.4 -268.8 -309.77 -105</linear_damping>
                    <quadratic_damping>-748.22 -992.53 -1821.01 -672 -774.44 -523.27</quadratic_damping>
                    </hydrodynamic_model>
                </link>
                <robotNamespace>/h2omni_1/</robotNamespace>
            </plugin>
        </gazebo>


    </xacro:macro>

    <xacro:h2omni suffix="1"></xacro:h2omni>
</robot>